<div class="container-fluid bg-dark bg-gradient d-flex align-items-center justify-content-center mb-5" style="min-height: 100px;">
    <div class="container-lg d-flex align-items-center justify-content-center row py-3 row-gap-3">
        <div class="col-12 col-md-6 col-lg-4">
            <input class="form-control" type="text" placeholder="Search a deal" aria-label="search item">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <select class="form-select" aria-label=".form-select-lg example">
                <option selected>Select your category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
            <input class="form-control" type="text" placeholder="City" aria-label="search city">
        </div>
        <div class="col-12 col-md-6 col-lg-auto">
            <button type="button" class="btn btn-primary w-100"><i class="bi bi-search"></i>&nbsp;&nbsp;Search</button>
        </div>
    </div>
</div>
<div id="banner" class="container-lg text-light d-flex flex-column align-items-center justify-content-center rounded rounded-4 mt-4">
    <p class="fw-bold hero-title">BUY AND SELL PHILIPPINES</p>
    <p class="hero-slogan">A better way to buy and sell locally</p>
    <a href="#featured-categories" class="btn btn-primary btn-lg rounded-pill">Explore</a>
</div>
<div id="featured-categories" class="container-lg p-0 mt-5">
    <h2 class="mb-3">Featured Categories</h2>
    <div class="container-fluid d-flex flex-wrap p-0 gap-3">
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
    </div>
</div>
<div id="featured-categories" class="container-lg p-0 my-5">
    <h2 class="mb-3">New Listings</h2>
    <div class="container-fluid d-flex flex-wrap p-0 gap-3">
        <% if (newListings.length > 0){ %>
            <%for(let product of newListings){%>
            <div class="card mb-2" style="width: 238px;">
                <img src="<%=product.pic%>" class="card-img-top" alt="pic" style="width: 236px; height: 236px;">
                <div class="card-body">
                    <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=product.title%></h5>
                    <p class="card-text mb-0">PHP <%=product.price%></p>
                    <p class="card-text mb-1"><%=product.condition%></p>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-white border-0 ps-0 pe-1" id="search">
                            <img class="rounded-circle border border-dark mx-1" src="<%=product.sellerPic%>" alt="" style="width: 25px; height: 25px;">
                        </span>
                        <span class="input-group-text bg-white border-0 ps-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=product.sellerName%></span>
                    </div>
                    <p class="card-text mb-3 just text-end fw-light"><i class="bi bi-clock-history pe-2"></i><%=checkDate(product.createdAt)%></p>
                    <a href="#" class="btn btn-primary w-100">View</a>
                </div>
            </div>
            <p><%=newListings.pic%></p>
            <%}%>
        <% } else{ %>
            <h4 class="ps-3 pt-3">No listing to display</h4>
        <%} %>
    </div>
</div>
<script src="/js/checkDate.js"></script>