<%- include('./modal_logout.ejs') %>
<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom" data-bs-theme="white">
    <div class="container-lg px-0">
        <a class="navbar-brand brand-logo fw-bold pb-0" href="/home">SUPERSELL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="#">Featured Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="#">New Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">All Categories</a>
                </li>
            </ul>
            <div id="tokenName" class="navbar-nav">
                <%if(userName) {%>
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle nav-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle border border-dark mx-1" src="<%=pic%>" alt="" style="width: 25px; height: 25px;">
                        Hello, <%=userName%>
                    </a>
                    <ul class="dropdown-menu zindex">
                        <li><a class="dropdown-item nav-menu" href="/user/profile/<%=id%>">Profile</a></li>
                        <li><a class="dropdown-item nav-menu" href="/settings/<%=id%>">Settings</a></li>
                        <li><a class="dropdown-item nav-menu" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4">Log out</a></li>
                    </ul>
                </li>
                <%}%>
                <%if(!userName) {%>
                <div class="nav-item">
                    <a class="nav-link nav-menu" href="/user/register">Register</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link nav-menu" href="/user/login">Login</a>
                </div>
                <%}%>
                <a class="btn btn-primary ms-2" href="/user/sell">&nbsp;&nbsp;Sell&nbsp;&nbsp;</a>
            </div>
        </div>
    </div>
</nav>