<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="container-lg d-flex mt-4">
    <div class="col-3 flex-row">
        <img src="<%=info.pic%>" class="rounded-circle" alt="pic" style="width: 180px;">
        <h2 class="mt-2"><%=userName%></h2>
        <p><%=info.email%></p>
        <p>5.0 ⭐⭐⭐⭐⭐ (3)</p>
        <p><%=info.address%>     •     Joined 3y 2m</p>
        <p>Verified 😉 😊 😁</p>
        <p>7 Followers     •     1 Following</p>
    </div>
    <div class="col">
        <div class="col" style="height: 100px;">

        </div>
        <div class="d-flex gap-3">
            <ul class="nav nav-tabs col" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Listings</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Reviews</button>
                </li>
            </ul>
            <button class="btn btn-outline-dark col-auto">Edit Profile</button>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="border rounded rounded-3 shadow col p-4">
                    <div class="d-flex justify-content-between">
                        <h3>Listings</h3>
                        <div class="form-group has-search w-25">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search Listings...">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-2 mt-2 ps-1">
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 2,500</p>
                              <p class="card-text">New</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                        <div class="card mb-2" style="width: 11rem;">
                            <img src="/img/aidorucat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text mb-0">PHP 1,500</p>
                              <p class="card-text">Used</p>
                              <a href="#" class="btn btn-primary w-100">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
        </div>
    </div>
</div>
<%- include('./partials/categories.ejs') %>
<%- include('./partials/foot.ejs') %>