<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="container-lg d-flex flex-column flex-md-row mt-5">
    <div class="col-12 col-md-auto d-flex justify-content-center pfp">
        <div class="d-flex flex-column">
            <img src="<%=info.pic%>" class="rounded-circle" alt="pic" style="width: 180px;">
            <h2 class="mt-2"><%=info.name%></h2>
            <p><%=info.email%></p>
            <p>5.0 ⭐⭐⭐⭐⭐ (3)</p>
            <p><%=info.address%> • Joined 3y 2m</p>
            <p>Verified 😉 😊 😁</p>
            <p>7 Followers • 1 Following</p>
        </div>
    </div>
    <div class="col mt-5">
        <div class="d-flex gap-3">
            <ul class="nav nav-tabs col" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Listings</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Reviews</button>
                </li>
            </ul>
            <a class="btn btn-success col-auto" href="/settings/<%=id%>">Edit Profile</a>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-3 pb-4" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="border rounded rounded-3 shadow col py-4 px-2 listings" style="min-height: 400px;">
                    <div class="d-flex justify-content-between align-items-center mb-3 pxx3">
                        <h3>Listings</h3>
                        <div class="form-group has-search col-5">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap m-0 mb-2 py-0 pe-0 pl3">
                    <% if (newListings.length > 0){ %>
                        <%for(let product of newListings){%>
                        <div class="mb-3 col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 pr3">
                            <div class="card">
                                <img src="<%=product.pic%>" class="card-img-top" alt="pic" style="width: 100%; aspect-ratio: 1 / 1;">
                                <%if(product.sold==true){%>
                                <p class="bg-primary text-white mb-0 px-1" style="position: absolute; top: 24px; z-index: 1;">Sold</p>
                                <%}%>
                                <div class="card-body">
                                    <h5 class="card-title pb-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=product.title%></h5>
                                    <p class="card-text mb-0">PHP <%=product.price%></p>
                                    <p class="card-text" style="text-overflow: ellipsis;"><%=product.condition%></p>
                                    <a href="/item/<%=product._id%>" class="btn btn-primary w-100">View</a>
                                </div>
                            </div>
                        </div>
                        <p><%=newListings.pic%></p>
                        <%}%>
                    <% } else{ %>
                        <h4 class="ps-3 pt-3">No listing to display</h4>
                    <%} %>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
        </div>
    </div>
</div>
<%- include('./partials/categories.ejs') %>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/foot.ejs') %>